<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>info.mhylle.playground.microservices</display-name>
  <servlet>
    <servlet-name>JerseyServlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <!-- Register resources and providers under info.mhylle.playground.microservices package. -->
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>info.mhylle.playground.microservices</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"-->
         <!--xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"-->
         <!--id="WebApp_ID" version="3.0">-->
<!--<display-name>info.mhylle.playground.microservices</display-name>-->
<!--<display-name>Restful Web Application</display-name>-->

<!--&lt;!&ndash; Auto scan REST service &ndash;&gt;-->
<!--<context-param>-->
    <!--<param-name>resteasy.scan</param-name>-->
    <!--<param-value>true</param-value>-->
<!--</context-param>-->

<!--&lt;!&ndash; this need same with resteasy servlet url-pattern &ndash;&gt;-->
<!--<context-param>-->
    <!--<param-name>resteasy.servlet.mapping.prefix</param-name>-->
    <!--<param-value>/api</param-value>-->
<!--</context-param>-->

<!--<listener>-->
    <!--<listener-class>-->
        <!--org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap-->
    <!--</listener-class>-->
<!--</listener>-->

<!--<servlet>-->
    <!--<servlet-name>resteasy-servlet</servlet-name>-->
    <!--<servlet-class>-->
        <!--org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher-->
    <!--</servlet-class>-->
<!--</servlet>-->

<!--<servlet-mapping>-->
    <!--<servlet-name>resteasy-servlet</servlet-name>-->
    <!--<url-pattern>/api/*</url-pattern>-->
<!--</servlet-mapping>-->
<!--</web-app>-->